@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
}
/****************************************************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: weight;
  padding: 10px 20px;
  border-bottom: 2px solid #ee5281;
  background-color: #e2e2e2;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.balls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.one {
  background-color: #3593f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 16px;
}
.two {
  background-color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 7px;
}
.three {
  background-color: #f02e68;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 27px;
}
nav a {
  text-decoration: none;
}
.ul-HC {
  list-style: none;
}
.ul-HC li {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
}
.nav-bar {
  font-family: "Quintessential", sans-serif;
  font-size: 28px;
  font-weight: 1000;
  transition: 0.5s;
  color: #3e9af7;
  margin-left: 10px;
}
.nav-bar:hover {
  color: blue;
}
.nav-link {
  padding: 7px;
  font-weight: 800;
  color: #3e9bf7da;
  font-family: "Quintessential", sans-serif;
  border-radius: 70px;
  transition: 0.5s;
}
.nav-link:hover {
  background-color: #f02e68;
  color: #fff;
}
/****************************************************************/
/* .t-m-i {
  display: flex;
  width: 100%;
  justify-content: center;
} */
.title {
  font-size: 200px;
  font-family: "Bebas Neue";
  color: #375dcb;
  padding: 135px 125px;
}
.mark {
  width: 549px;
  height: 99px;
  background-color: #6cacec67;
  margin: -276px 45px -79px 117px;
  transition: 0.5s;
}
.main-img {
  margin-top: -235px;
  margin-left: 682px;
  width: 800px;
  height: auto;
}
.lets {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-family: "Quintessential", sans-serif;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  background-color: #f02e68;
  margin-top: -10px;
  margin-left: 70px;
  text-decoration: none;
  box-shadow: 13px 12px 0 #6cacec67;
  border-radius: 10px;
  transition: 0.5s;
}
.lets:hover {
  margin-top: 5px;
  box-shadow: 0 0 0 #6cacec67;
}
.contact-a {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-family: "Quintessential", sans-serif;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  background-color: black;
  margin-top: -10px;
  margin-left: 70px;
  text-decoration: none;
  box-shadow: 13px 12px 0 #6cacec67;
  border-radius: 10px;
  transition: 0.5s;
}
.contact-a:hover {
  margin-top: 5px;
  box-shadow: 0 0 0 #6cacec67;
}
.bottoms {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: -170px;
  margin-left: 120px;
}
